<div class="container">
  <%= form_tag calculate_cost_home_index_path, method: :get, remote: true do %>
    <div class="row">
      <div class="col">
        DDD Origem
      </div>
      <div class="col">
        DDD Destino
      </div>
      <div class="col">
        Minutos
      </div>
      <div class="col">
        Plano
      </div>
      <div class="col">
        Custo sem o plano
      </div>
      <div class="col">
        Custo com o plano
      </div>
    </div>
    <div class="row js--calculate">
      <%= render "form", with_plan: @cost_with_plan,
                         without_plan: @cost_without_plan %>
    </div>
    
    <%= button_tag type: :submit, class: 'btn btn-info' do %>
      Calcular
    <% end %>
  <% end %>
</div>
